[submodule "Universal_Robots_ROS2_Gazebo_Simulation"]
	path = Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
	branch = ros2
[submodule "Universal_Robots_ROS2_Description"]
	path = Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = galactic
